@mixin general-skins($black, $darkgreen, $green, $lightgreen, $white, $blue, $red) {
  .AppContainer__styles {
    height: 100%;
    background-color: $white;
    color: $black;

    // Sidenav
    .GavSidenav {
      .GavSidenav__container {
        background-color: $darkgreen;
        color: $white;
      }
      
      .GavSidenav__button {
        border-color: rgba($white, 0.2);
        background-color: transparent;
        color: $white;
      }
      
      .GavSidenav__sub-button {
        border-color: rgba($white, 0.2);
        background-color: transparent;
        color: $white;
      
        &:focus ::before {
          border-color: $white;
        }
      }
      
      .sdn--active {
        border-color: $white;
        text-shadow: 0 0 5px $white;
      }
    }

    // Header
    .cv-header {
      background-color: $darkgreen;
      color: $white;
    }

    // Text
    .title {
      text-align: center;
      color: $green;
      font-size: 1.6rem;
    }
    
    .cv-link {
      color: $green;
      text-decoration: none;
    }

    .description {
      text-align: justify;
      color: $black;
      margin: 0 0.5rem;
    }

    // Elements
    .story-teller {
      color: $blue;
      border-color: $blue;

      &.active {
        color: $darkgreen;
        border-color: $darkgreen;

        .story-icon {
          color: $darkgreen;
        }
      }
    }

    .tablet-only {
      display: none;
    }

    @media screen and (min-width: 724px) {
      .gav-card {
        box-shadow: 0 0 1px $black;
        border-radius: 15px;
        padding: 1.5rem;
        margin: 1.5rem;
        background-color: $white;
      }

      .tablet-only {
        display: inline-block;
      }
    }
  }
}

