$darkblack: #0b190e;
$black: #0f2810;
$darkgreen: #033a12;
$green: #227e3e;
$lightgreen: #c3ffd3;
$white: #fafff9;
$whitegreen: #eff8f2;
$blue: #2ca2be;
$lightblue: #99d5e3;
$darkblue: #022e38;
$orange: #a86e34;
$red: #a84134;

// to be used in styles.scss
$list: $darkblack, $black, $darkgreen, $green, $lightgreen, $white, $whitegreen, $blue, $lightblue, $darkblue, $orange, $red;
$dark-list: $white, $whitegreen, $lightgreen, $green, $darkgreen, $darkblack, $black, $blue, $darkblue, $lightblue, $orange, $red;