<div class="Santorelli">
  <section class="Santorelli__router">
    <div class="Presentation gav-card">
      <div class="Presentation__author">
        <h1 class="title">Francisco Santorelli</h1>
        <img src="assets/images/me.jpg" alt="author" class="Presentation__pic">
      </div>
      <div class="Presentation__info">
        <p class="description">
          My name's Francisco Santorelli. I'm a Front-End Web Developer, with a short time-span inside
          the development world (&lt;1year), but feel like I have something to show, which ism't simply 'good',
          but rather great.
          Given what I can achieve, and have achieved, in such short time, I feel like if I could achieve anything.

          Passion for programming fuels me, and the results of what I do gratify me.

          Want to learn more about me? A.M.A, keep browsing, or feel free to visit any of my pages:
        </p>
        <ul class="Presentation__list">
          <li><a class="cv-link" href="https://github.com/gavaar" target="_blank">Github</a></li>
          <li><a class="cv-link" href="https://bitbucket.org/Gavaar/" target="_blank">Bitbucket</a></li>
          <li><a class="cv-link" href="https://www.linkedin.com/in/oxspit/" target="_blank">LinkedIn</a></li>
          <li>
            <a class="cv-link" href="https://stackoverflow.com/users/10121165/francisco-santorelli"
              target="_blank">StackOverflow</a>
          </li>
          <li><a class="cv-link" href="mailto:santorelli.francisco@gmail.com" target="_top">Or hit me a mail!</a></li>
        </ul>

        Thanks for visiting!
        <br />
        <p style="color: gray; font-size: 10px; margin-top: 4rem;">Also, this is an ongoing work in progress... So
          some things might
          look weird, or be off, they are bound
          to be improved! You can leave me a message on any of my social networks if you have a suggestion</p>
      </div>

    </div>

  </section>

  <div class="Santorelli__navigator">
    <div class="Santorelli__nav-option story-teller active">
      <mat-icon class="story-icon">flag</mat-icon>
    </div>
    <span class="Santorelli__nav-text tablet-only description">Who am I?</span>

    <div class="Santorelli__nav-option story-teller"></div>
    <span class="Santorelli__nav-text tablet-only description">What can I do?</span>

    <div class="Santorelli__nav-option story-teller"></div>
    <span class="Santorelli__nav-text tablet-only description">Where have I learned?</span>

    <div class="Santorelli__nav-option story-teller"></div>
    <span class="Santorelli__nav-text tablet-only description">Some more info about me</span>
  </div>
</div>