.Santorelli {
  display: flex;
  flex-flow: row nowrap;
}

.Santorelli__router {
  width: stretch;
  height: stretch;
  overflow-y: auto;
  flex-grow: 5;
  flex-basis: 0;
  margin: 0 1rem 2rem;
}

.Santorelli__nav-text.tablet-only.description {
  margin: 0 auto 0 2rem;
}

@media screen and (min-width: 1024px){
  .Santorelli__router {
    max-width: 60vw;
    margin: auto;
  }
}

// Presentation
.Presentation {
  display: flex;
  flex-flow: column;
}

.Presentation__pic {
  display: block;
  width: 80%;
  border-radius: 2rem;
  margin: auto;
}

.Presentation .description {
  margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
  .Presentation {
    flex-flow: row nowrap;

    .Presentation__author {
      flex-grow: 1;
      flex-basis: 0;
    }

    .Presentation__info {
      flex-grow: 1;
      flex-basis: 0;
      margin: auto;
    }
  }
}
