<div class="gav-form-container" *ngIf="formsConfig as forms">
  <div class="gav-form-field-wrapper" *ngFor="let field of forms">
    <h4 class="gav-field-title">{{ field.header | uppercase }}</h4>

    <div class="gav-form-card">
      <ng-container *ngIf="field.tabs; then tabbedForm; else untabbedForm"></ng-container>
    </div>

    <!-- templates -->
    <ng-template #tabbedForm>
      <mat-tab-group (focusChange)="onTabClick(field, $event)">
        <mat-tab *ngFor="let form of field.forms; let i = index" [label]="form.title">
          <ng-container
            *ngTemplateOutlet="
              templateForm;
              context: {
                formGroup: form.formGroup
              }
            "
          ></ng-container>
        </mat-tab>
      </mat-tab-group>
    </ng-template>

    <ng-template #untabbedForm>
      <ng-container *ngTemplateOutlet="templateForm; context: { formGroup: field.forms }"></ng-container>
    </ng-template>

    <!-- forms -->
    <ng-template #templateForm let-formGroup="formGroup">
      <gav-form-field [formGroup]="formGroup" [opts]="field.opts" class="gav-form-field"></gav-form-field>
    </ng-template>
  </div>
</div>
