// TODO clean code
$sidewidth: 25vw;

.GavSidenav {
  display: flex;
  height: calc(100% - 3rem);
}

.GavSidenav__expander-btn.mat-button {
  position: absolute;
  top: 0;
  height: 3rem;

  &.Gav-button.header-button :nth-child(1) {
    border: 0;
  }
}

.GavSidenav__container {
  display: flex;
  flex-flow: column;
  background-color: #333e48;
  padding: 1rem 1rem 0;
  color: #eeeeee;
  width: stretch;
  max-width: 2rem;
  font-size: 0.8rem;
  z-index: 1;
  overflow-y: overlay;
  transition: 0.5s;

  &.mobile {
    position: absolute;
    width: 80vw;
    max-width: 70vw;
    height: calc(100% - 4rem);
  }
}

.GavSidenav__scroller {
  display: flex;
  flex-flow: column;
  min-height: fit-content;
}

.GavSidenav__button {
  display: inline-flex;
  width: stretch;
  min-height: 3.3rem;
  margin: 0.3rem 0;
  padding: 0 1.5rem;
  text-align: left;
  background: none;
  color: #eeeeee;
}

.GavSidenav__icon {
  position: absolute;
  margin: auto 0.25rem;
  top: 0;
  left: 0;
  bottom: 0;
  height: calc(100% - 1rem);
}

.GavSidenav__button-name {
  display: inline-block;
  padding: 0.5rem;
}

.GavSidenav__arrow {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
}

.GavSidenav__sub-button {
  display: inline-flex;
  width: 100%;
  width: stretch;
  margin-left: 1rem;
  white-space: initial;
  border-bottom: 1px solid rgba(#eeeeee, 0.2);
  background: none;
  color: #eeeeee;

  &:focus ::before {
    content: '';
    position: absolute;
    margin: auto;
    height: 0;
    border: 2px solid #eeeeee;
    border-radius: 50%;
    top: 0;
    left: 0;
    bottom: 0;
  }
}

.GavSidenav__footer {
  margin-top: auto;
  margin-bottom: 0.5rem;
}

.GavSidenav__content {
  overflow-y: overlay;
  width: 100vw;
}

// Mods
.arrw--closed {
  transform: rotateZ(0);
  transition: 250ms;
}

.arrw--opened {
  transform: rotateZ(-180deg);
  transition: 250ms;
}

.sdn--active {
  text-shadow: 0 0 5px #eeeeee;
}

.active {
  &.GavSidenav__container {
    max-width: 18rem;
  }

  .GavSidenav__button {
    border-bottom: 1px solid rgba(#eeeeee, 0.2);
  }
  
  .sdn--active {
    border-bottom: 1px solid #eeeeee;
  }
}