<nav class="GavSidenav" *ngIf="(desktopSidenav$ | async) as desktopSidenav">
  <button mat-button class="GavSidenav__expander-btn Gav-button header-button" (click)="viewSidenav = !viewSidenav"
    *ngIf="!desktopSidenav.matches">
    <mat-icon>list</mat-icon>
  </button>

  <div class="GavSidenav__container" *ngIf="viewSidenav" [ngClass]="{ mobile: !desktopSidenav.matches }" [@enterLeave]>
    <div class="GavSidenav__scroller">
      <ng-container *ngFor="let field of sidenavOptions.fields; trackBy: sidenavFn; let i = index">
        <button class="GavSidenav__button" mat-button (click)="onClick(field, i)" [disableRipple]="true"
          [ngClass]="{ 'sdn--active': field.active }">
          <img [src]="field.icon" class="GavSidenav__icon" />&nbsp;
          <div class="GavSidenav__button-name">{{ field.name | uppercase }}</div>
          <mat-icon class="GavSidenav__arrow" *ngIf="field.suboptions"
            [ngClass]="{ 'arrw--opened': field.active, 'arrw--closed': !field.active }">keyboard_arrow_down</mat-icon>
        </button>

        <div *ngIf="field.active" [@contentExpander]>
          <button class="GavSidenav__sub-button" *ngFor="let sub of field.suboptions; trackBy: subfieldsFn" mat-button
            [disableRipple]="true" (click)="onSuboptionClick(sub)">
            {{ sub.name | uppercase }}
          </button>
        </div>
      </ng-container>
    </div>

    <!-- footer -->
    <ng-content select=".GavSidenav__footer"></ng-content>
  </div>

  <!-- what the sidenav routes to -->
  <ng-content></ng-content>
</nav>