@import '../../gavaar-styles.scss';

$sidewidth: 25vw;

.sidenav-content-general-wrapper {
  display: flex;
  height: stretch;
}

.sidenav-content-general-wrapper .sidenav-expander {
  position: absolute;
  top: 0;
  height: 3rem;
  color: floralwhite;
}

.sidenav-container {
  display: flex;
  flex-flow: column;
  background-color: #343e48;
  padding: 1rem;
  color: floralwhite;
  width: stretch;
  width: 80vw;
  max-width: 15em;
  font-size: 0.8rem;
  z-index: 10;
  overflow-y: overlay;

  &.mobile {
    position: absolute;
    width: 80vw;
    max-width: 60vw;
    // the -5rem corresponds to 2rem padding and 3rem absolute positioned item
    height: calc(100% - 5rem);
    transition: height 0.2s;
  }
}

.sidenav-scroller {
  display: flex;
  flex-flow: column;
  min-height: fit-content;
}

.sidenav-container .sidenav-main-button {
  display: inline-flex;
  width: stretch;
  margin: 0.3rem 0;
  padding: 0 1.5rem;
  text-align: left;
  border-bottom: 1px solid rgba(white, 0.2);

  &.active {
    border-bottom: 1px solid white;
  }

  .icon {
    position: absolute;
    margin: auto;
    @include positioning(0, 100, 0, 0);
  }

  .sidenav-button-field-name {
    display: inline-block;
    white-space: initial;
    padding: 0.5rem;
  }

  .arrow {
    position: absolute;
    margin: auto;
    @include positioning(0, 0, 0, 100);

    &.closed {
      transform: rotateZ(0);
      transition: 250ms;
    }

    &.opened {
      transform: rotateZ(180deg);
      transition: 250ms;
    }
  }
}

.sidenav-container .sub-button-container {
  overflow: hidden;

  &.opened {
    max-height: 500px;
    transition: 0.5s;
  }
  &.closed {
    max-height: 0;
    transition: 0.5s;
  }
}

.sidenav-container .sub-button-container .sidenav-sub-button {
  display: inline-flex;
  width: stretch;
  margin-left: 3rem;
  white-space: initial;
  border-bottom: 1px solid rgba(white, 0.2);

  &:focus {
    border-bottom: 1px solid white;
  }
  &:focus ::before {
    content: '';
    position: absolute;
    margin: auto;
    height: 0;
    border: 2px solid white;
    border-radius: 50%;
    @include positioning(0, unset, 0, 0);
  }

  &.closed {
    color: #343e48;
    border-bottom: 1px solid #343e48;
  }
}

.sidenav-container .gav-sidenav-footer {
  margin-top: auto;
  margin-bottom: 0.5rem;
}

.sidenav-content-container {
  overflow-y: overlay;
  width: 100vw;
}
