<div class="EfxCard">
  <h3 class="EfxCard__title title" *ngIf="config">
    <span (click)="show = !show" class="clickable">{{ config.title | uppercase }}</span>

    <ng-container>
      <ng-content select=".EfxCard__extra-info" *ngIf="show"></ng-content>

      <ng-container [ngSwitch]="config.action">
        <mat-icon
          *ngSwitchCase="'extend'"
          class="add-on clickable"
          (click)="show = !show"
          [ngClass]="{ 'arrw--opened': show, 'arrw--closed': !show }"
        >
          keyboard_arrow_down
        </mat-icon>

        <mat-icon
          *ngSwitchCase="'info'"
          class="add-on clickable"
          [matTooltip]="config.infoMessage"
          [matTooltipPosition]="'above'"
          [matTooltipClass]="{ EfxCard__tooltip: true }"
        >
          info
        </mat-icon>
      </ng-container>
    </ng-container>
  </h3>

  <mat-divider class="EfxCard__divider" [@showDivider] *ngIf="!show"></mat-divider>
  <div class="EfxCard__content card-box" *ngIf="show" [@contentExpander]>
    <ng-content></ng-content>
  </div>
</div>
