.EfxCard__title {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-end;
}

.EfxCard__divider.mat-divider {
  margin: auto;
}

.EfxCard__tooltip {
  max-width: 400px;
  font-size: 14px;
}
