@import '../style-variables/my-cv';

:host-context(#my-cv){

    #skill-list {
    position: relative;
    display: flex;
    flex-flow: column;
    height: 100%;
    z-index: 1;
    max-width: 50vw;

        .skill {
            display: flex;
            flex-flow: row;
            justify-content: flex-start;
            cursor: pointer;

            gear-style {
                color: whitesmoke;
                opacity: 1;
                z-index: 1;

                mat-icon {

                    &.default-icon {
                        position: absolute;
                        font-size: ($value * 0.65em);
                        top: -0.06em * $value;
                        left: -0.07em * $value;
                    }

                    &.svg-icon {
                        fill: whitesmoke;
                        transform: scale($value * 0.65) translateY(-1px);
                    }

                }
            }

            .skill-title {
                margin: auto 2em;
                max-height: calc(min-content + 0.2em);
                font-weight: 700;
                border-bottom: 1px solid $cv-green;
                width: 12em;
                color: $cv-black;
            }

            .rating {
                display: inline-flex;

                .mat-icon.material-icons {
                    font-size: 2em;
                    color: $cv-green-light;
                }
            }
        }

        p {
            display: flex;
            text-align: justify;
            margin-left: $value * 1.5em;

            &.open {
                margin-top: 0.25em;
                margin-bottom: 0.25em;
                height: auto;
                max-height: 500px;
                transform: rotateX(0deg);
                transition: 500ms ease-in;
            }

            &.closed {
                margin-top: 0.25em;
                margin-bottom: 0.25em;
                max-height: 0px;
                opacity: 0;
                transform: rotateX(90deg);
                transition: 500ms ease-out;
            }
        }

        #chain {
            position: absolute;
            height: 100%;
            border-right: 3px dashed darkgrey;
            margin-top: 0;
            margin-left: $value * 0.45em;
            z-index: 0;
        }
    }

    #bottom-gear {
        display: flex;
        align-self: flex-start;
    }
}