@import "~@angular/material/prebuilt-themes/purple-green.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import 'styles/material-icons';
@import 'styles/angular-material';
@import 'styles/skins';

.SantorellisCurriculum {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;

  .CvLight {
    --black: #192419;
    --darkgreen: #2c502c;
    --green: #318831;
    --lightgreen: #ecffec;
    --white: #eeeeee;
    --blue: #2d5370;
    --red: #ae553e;
  }

  .CvDark {
    --black: #eeeeee;
    --darkgreen: #ecffec;
    --green: #318831;
    --lightgreen: #2c502c;
    --white: #192419;
    --blue: #2d5370;
    --red: #ae553e;
  }
}

::-webkit-scrollbar {
  display: none;
}
