<!--Title-->
<h1 id="title">
    <mat-icon>home</mat-icon>
    Francisco Santorelli's Website
</h1>
<!--Container-->
<div id="home-container">

    <div id="left-panel">  
        <div id="profile-pic">
            <gav-title title="Francisco Santorelli"></gav-title>
            <gav-hexagon-container
                [background]="profileImg">
            </gav-hexagon-container>
        </div>

        <div class="info-panel">
            <p [innerHtml]="basicInfo"></p>
        </div>
    </div>

    <div id="right-panel">
        <gav-title title="Main Skills"></gav-title>
        <gav-gear-list-display
            [skillList]="skillList">
        </gav-gear-list-display>
    </div>

</div>