.AppContainer {
  height: 100%;
}

.AppContainer__router {
  overflow: hidden;
  width: 100%;
}

.CvHeader {
  display: flex;
  flex-flow: row nowrap;
  line-height: 3rem;
  transition: 0.5s;
  width: stretch;
  padding: 0 0 0 4rem;
}

.CvHeader__icon {
  margin: auto 0;

  &.right {
    margin-left: auto;
    margin-right: 1rem;
    cursor: pointer;
  }
}

.CvHeader__text {
  padding: 0 2rem;
}

@media screen and (min-width: 724px) {
  .CvHeader {
    padding: 0 4rem;
  }
}
