<div class="AppContainer" [ngClass]="{ CvDark: dark, CvLight: !dark }">
  <div class="AppContainer__styles">
    <header class="CvHeader cv-header">
      <span class="CvHeader__text">Francisco Santorelli - My Cv</span>
      <mat-icon class="CvHeader__icon right" (click)="dark = !dark">{{ dark ? 'brightness_2' : 'wb_sunny' }}</mat-icon>
    </header>

    <gav-sidenav [config]="sidenavOptions">
      <div class="AppContainer__router">
        <router-outlet></router-outlet>
      </div>
    </gav-sidenav>
  </div>
</div>